body { 
    width: 100vw;
    height: 100vh;
}

.background {
    background: url('/WILSON2040.svg') no-repeat fixed ;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

